<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <header>
    <div class="pos-f-t">
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </header>

  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="row">
        <div class="col-sm-3">
          <h5>
            <%= link_to("Profile", "/", class:"text-white h4 text-light") %>
          </h5>
          <span class="text-muted">簡単な経歴と自己紹介</span>
        </div>
        <div class="col-sm-3">
          <h5>
            <%= link_to("Art", "art", class:"text-white h4 text-light") %>
          </h5>
          <span class="text-muted">作品集</span>
        </div>
        <!-- <div class="col-sm-3">
          <h5>
            <%# <%= link_to("Contact", "/", class:"text-white h4 text-light") %> %>
          </h5>
          <span class="text-muted">先立つもの</span>
        </div>
        <div class="col-sm-3">
          <h5>
            <%# <%= link_to("Tweets", "/", class:"text-white h4 text-light") %> %>
          </h5>
          <span class="text-muted">近況（随時更新）</span>
        </div> -->
      </div>
    </div>
  </div>

  <div class="container">
    <body>
      <%= yield %>
    </body>
  </div>
  
</html>
